a {
  color: #3e5791;
  text-decoration: none;
  font-weight: bold;
}

a:visited {
  color: #4f3cff;
}

a:hover {
  text-decoration: underline;
}

a::after {
  content: " [isto é um link]";
  font-weight: normal;
  text-decoration: none;
  color: rgba(53, 52, 52, 0.521)
}
