@import url("https://fonts.googleapis.com/css2?family=Finlandica:ital@1&display=swap");
* {
  font-family: Finlandica;
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-image: linear-gradient(to bottom, #015c5c, #014444);
  height: 100vh;
}

a {
  font-family: Finlandica;
  font-weight: normal;
  text-decoration: none;
  margin: 2px;
}

a:hover {
  text-decoration: underline;
}

h1 {
  color: #03a678;
  text-shadow: 1px 1px 2px #028a63;
}

h2 {
  color: #8b1b02;
  text-shadow: 1px 1px 1px #771600;
  margin-left: 8px;
}

nav {
  padding: 1px;
  background-color: #731702;
  box-shadow: 0px 3px 2px #581101;
}

p {
  text-align: justify;
}

header {
  margin: 0px;
  padding: 1px;
  background-image: linear-gradient(to bottom, #f27405, #d16405);
}

header > h1 {
  text-align: center;
}

nav > a {
  color: #f27405;
  text-shadow: 1px 1px 1px #d46604;
}

main {
  margin: 30px;
  padding: 5px;
  background-color: #f2f2f2;
  color: 1e2335;
  border-radius: 10px;
  box-shadow: 2px 3px 2px 2px rgba(0, 0, 0, 0.363);
}

footer {
  box-shadow: 0px 3px 2px #581101;
  background-color: #731702;
}

footer > p {
  text-align: center;
  color: #f27405;
  padding: 5px;
  background-color: #731702;
}

footer > p > a {
  color: #f27405;
}

section > p {
  margin-left: 8px;
}
